@font-face {
	font-family: GlacialIndifference;
	src: url("../../assets/fonts/glacialindifference-regular-webfont.woff");
}

@font-face {
	font-family: GlacialIndifference;
	src: url("../../assets/fonts/glacialindifference-bold-webfont.woff");
	font-weight: bold;
}

@font-face {
	font-family: GlacialIndifference;
	src: url("../../assets/fonts/glacialindifference-italic-webfont.woff");
	font-style: italic;
}

html {
	scroll-padding-top: 120px;
	font-family: GlacialIndifference;
}
