@import "~bootstrap/scss/bootstrap";
@import "~include-media/dist/_include-media";

// Importing Styles
@import "common/variables";
@import "common/global";
@import "layouts/header";
@import "layouts/footer";

body {
	font-family: $font;
}

main {
	padding-top: 120px;

	@include media("<tablet") {
		padding-top: 78px;
	}
}

.dev-intro {
	background: white;
	padding: 75px 0;

	@include media("<tablet") {
		padding: 30px 0;
	}

	.personal-info {
		.profile-pic {
			border: 1px solid $grey;
			border-radius: 50%;
			max-width: 35%;
			margin-right: 20px;
			align-self: center;

			@include media("<tablet") {
				margin: 0 auto;
				margin-bottom: 20px;
				display: block;
			}
		}
		p {
			margin-bottom: 5px;
		}

		.info {
			@include media("<tablet") {
				margin: 0 auto;
				text-align: center;
				width: 100%;
			}
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}

section {
	padding: 60px 0;
	.title {
		text-align: center;
		h2,
		h3 {
			display: block;
			width: 100%;
		}

		h2 {
			font-weight: bold;
			margin-bottom: 35px;
		}

		h3 {
			margin-bottom: 55px;
		}
	}
}
.game-area {
	background: $dirty-white;

	.game-selector p {
		margin: 0;
		font-size: 1.2rem;
		font-weight: bold;
		margin-right: 10px;
	}

	.game-board {
		padding: 55px 0;

		#board {
			width: 100%;
			position: relative;
			border: 1px solid $grey;
			display: block;
			background-color: white;

			td {
				border: 1px solid $grey;
			}

			@include media("<tablet") {
				order: 1;
				margin-bottom: 30px;
			}
		}

		.player-score {
			font-size: 1.5rem;
			text-align: center;

			&:first-child {
				@include media("<tablet") {
					order: 2;
				}
			}

			&:last-child {
				@include media("<tablet") {
					order: 3;
				}
			}

			#player-1-score,
			#player-2-score {
				display: block;
				font-size: 2.5rem;
				font-weight: bold;
				margin-bottom: 0;
			}
		}
	}

	.board-wrapper {
		#score-overlay {
			position: absolute;
			top: 0;
			width: calc(100% - 30px);
			height: 100%;
			background: rgba(255, 255, 255, 0.3);
			display: flex;
			align-items: center;
			display: none;
		}

		.cta-area {
			width: 80%;
			text-align: center;
			padding: 20px;
			background: $green;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 0 auto;

			#declare-winner {
				width: 100%;
				display: block;
				font-size: 2rem;

				@include media("<tablet") {
					font-size: 1.5rem;
				}

				p {
					margin-bottom: 0;
				}

				img {
					max-width: 50%;
					margin: 0 auto 20px auto;
				}
			}

			button {
				background: $blue;
				padding: 10px;
				border: none;
				border-radius: 5px;
				color: white;
				margin: 0 auto;
				display: block;
				margin-top: 20px;
			}
		}
	}
}

#statistics {
	h4 {
		font-weight: bold;
		font-size: 1.2rem;
		margin-bottom: 1.2rem;
	}

	.victories-wrapper {
		@include media("<tablet") {
			margin-bottom: 30px;
		}
	}

	.victory-stats {
		p {
			font-size: 1.4rem;
		}
	}

	.player-stats {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: center;

		.stats-wrapper {
			text-align: center;
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			&:first-child {
				margin-right: 20px;
			}

			span {
				width: 100%;
			}

			.percentage {
				font-weight: bold;
				color: white;
				background: $grey;
				border-radius: 50%;
				text-align: center;
				width: 50px;
				height: 50px;
				margin: 0 auto;
				display: flex;
				align-items: center;
				margin-bottom: 10px;
			}
		}
	}

	// .right-statistics-wrapper{

	// }

	#matches-log,
	#game-history {
		list-style-type: none;
		display: flex;
		padding: 0;
		justify-content: center;

		li {
			width: 30px;
			height: 30px;
			border: 1px solid $grey;
			margin-right: 5px;
			align-items: center;
			display: flex;

			.win {
				width: 100%;
				display: block;
				text-align: center;
			}

			&:last-child {
				margin: 0;
			}

			&.played {
				background: $grey;
			}
		}
	}

	#matches-log {
		margin-bottom: 20px;

		li {
			border-radius: 50%;
		}
	}
}
