footer {
	padding: 50px 0;
	background-color: $dirty-white;

	@include media("<tablet") {
		text-align: center;
	}

	h5 {
		margin-bottom: 1rem;
	}

	.social-media {
		list-style: none;
		padding: 0;

		@include media("<tablet") {
			justify-content: center;
		}

		li {
			display: inline-block;
			margin-right: 30px;

			&:last-child {
				margin-right: 0;

				img {
					margin-right: 0;
				}
			}

			a {
				display: flex;
				width: 100%;
				min-width: 100%;
			}
		}

		img {
			max-width: 30px;
			margin-right: 10px;
		}
	}

	form {
		display: flex;
		max-width: 70%;

		@include media("<tablet") {
			margin: 0 auto;
		}

		input {
			flex-grow: 1;
		}

		button {
			min-width: 30px;
			background-color: $grey;
		}
	}
}
