header {
	padding: 35px 0;
	background-color: $grey;
	position: fixed;
	top: 0;
	max-height: 120px;
	z-index: 2;

	@include media("<tablet") {
		max-height: none;
		padding: 15px 0;

		img {
			max-width: 170px;
			width: auto;
		}
	}

	img {
		width: 225px;
	}
}
